/mobile/*~
/mobile/*.o
/mobile/*.lo
/mobile/*.la
/mobile/.libs
/mobile/.deps
/mobile/*.pc
/mobile/Makefile
/mobile/Makefile.in
/mobile/*.so
/mobile/*.sw[po]
/mobile/tags
/mobile/cscope.*
/mobile/doc/Doxyfile
/mobile/m4/libtool.m4
/mobile/m4/ltoptions.m4
/mobile/m4/ltsugar.m4
/mobile/m4/ltversion.m4
/mobile/m4/lt~obsolete.m4
/mobile/src/bin/evas_cserve
/mobile/src/bin/evas_cserve_tool
/mobile/src/bin/evas_cserve2
/mobile/src/bin/evas_cserve2_slave
/mobile/src/bin/evas_cserve2_debug
/mobile/src/bin/evas_cserve2_client
/mobile/src/bin/evas_cserve2_usage
/mobile/src/bin/dummy_slave
/mobile/*.gcno
/mobile/*.gcov
/mobile/src/tests/evas_suite
/mobile/coverage
/mobile/README
/mobile/aclocal.m4
/mobile/autom4te.cache/
/mobile/config.cache
/mobile/config.guess
/mobile/config.h
/mobile/config.h.in
/mobile/config.log
/mobile/config.status
/mobile/config.sub
/mobile/configure
/mobile/depcomp
/mobile/doc/evas.dox
/mobile/evas.spec
/mobile/install-sh
/mobile/libtool
/mobile/ltmain.sh
/mobile/missing
/mobile/stamp-h1
/mobile/config.cache
/mobile/ABOUT-NLS
/mobile/config.cache-env
/mobile/config.guess.cdbs-orig
/mobile/config.sub.cdbs-orig
/mobile/debian/files
/mobile/debian/*.debhelper.log
/mobile/debian/*.substvars
/mobile/debian/libevas-dbg/
/mobile/debian/libevas-dev/
/mobile/debian/libevas-doc/
/mobile/debian/*.debhelper
/mobile/debian/libevas-engines-extras/
/mobile/debian/libevas-engines/
/mobile/debian/libevas/
/mobile/debian/stamp-*
/mobile/debian/tmp/
/mobile/doc/html/
/mobile/doc/latex/
/mobile/doc/man/
/mobile/*-doc.tar.bz2
/mobile/*-doc.tar.bz2.cdbs-config_list
/mobile/src/examples/aspect.edj
/mobile/src/examples/evas-smart-object
/mobile/src/examples/evas-stacking
/mobile/src/examples/evas_aspect_hints
/mobile/src/examples/evas_box
/mobile/src/examples/evas_buffer_simple
/mobile/src/examples/evas_events
/mobile/src/examples/evas_hints
/mobile/src/examples/evas_images
/mobile/src/examples/evas_images2
/mobile/src/examples/evas_images3
/mobile/src/examples/evas_init_shutdown
/mobile/src/examples/evas_map_utils
/mobile/src/examples/evas_object_manipulation
/mobile/src/examples/evas_smart_object
/mobile/src/examples/evas_stacking
/mobile/src/examples/evas_text


/wearable/*~
/wearable/*.o
/wearable/*.lo
/wearable/*.la
/wearable/.libs
/wearable/.deps
/wearable/*.pc
/wearable/Makefile
/wearable/Makefile.in
/wearable/*.so
/wearable/*.sw[po]
/wearable/tags
/wearable/cscope.*
/wearable/doc/Doxyfile
/wearable/m4/libtool.m4
/wearable/m4/ltoptions.m4
/wearable/m4/ltsugar.m4
/wearable/m4/ltversion.m4
/wearable/m4/lt~obsolete.m4
/wearable/src/bin/evas_cserve
/wearable/src/bin/evas_cserve_tool
/wearable/src/bin/evas_cserve2
/wearable/src/bin/evas_cserve2_slave
/wearable/src/bin/evas_cserve2_debug
/wearable/src/bin/evas_cserve2_client
/wearable/src/bin/evas_cserve2_usage
/wearable/src/bin/dummy_slave
/wearable/*.gcno
/wearable/*.gcov
/wearable/src/tests/evas_suite
/wearable/coverage
/wearable/README
/wearable/aclocal.m4
/wearable/autom4te.cache/
/wearable/config.cache
/wearable/config.guess
/wearable/config.h
/wearable/config.h.in
/wearable/config.log
/wearable/config.status
/wearable/config.sub
/wearable/configure
/wearable/depcomp
/wearable/doc/evas.dox
/wearable/evas.spec
/wearable/install-sh
/wearable/libtool
/wearable/ltmain.sh
/wearable/missing
/wearable/stamp-h1
/wearable/config.cache
/wearable/ABOUT-NLS
/wearable/config.cache-env
/wearable/config.guess.cdbs-orig
/wearable/config.sub.cdbs-orig
/wearable/debian/files
/wearable/debian/*.debhelper.log
/wearable/debian/*.substvars
/wearable/debian/libevas-dbg/
/wearable/debian/libevas-dev/
/wearable/debian/libevas-doc/
/wearable/debian/*.debhelper
/wearable/debian/libevas-engines-extras/
/wearable/debian/libevas-engines/
/wearable/debian/libevas/
/wearable/debian/stamp-*
/wearable/debian/tmp/
/wearable/doc/html/
/wearable/doc/latex/
/wearable/doc/man/
/wearable/*-doc.tar.bz2
/wearable/*-doc.tar.bz2.cdbs-config_list
/wearable/src/examples/aspect.edj
/wearable/src/examples/evas-smart-object
/wearable/src/examples/evas-stacking
/wearable/src/examples/evas_aspect_hints
/wearable/src/examples/evas_box
/wearable/src/examples/evas_buffer_simple
/wearable/src/examples/evas_events
/wearable/src/examples/evas_hints
/wearable/src/examples/evas_images
/wearable/src/examples/evas_images2
/wearable/src/examples/evas_images3
/wearable/src/examples/evas_init_shutdown
/wearable/src/examples/evas_map_utils
/wearable/src/examples/evas_object_manipulation
/wearable/src/examples/evas_smart_object
/wearable/src/examples/evas_stacking
/wearable/src/examples/evas_text

