*.o
*.lo
*.la
.libs
.deps
*.pc
Makefile
Makefile.in
*.so
.*.sw[po]
/README
/aclocal.m4
/autom4te.cache/
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/evas.dox
/evas.spec
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
tags
cscope.*
/config.cache
/ABOUT-NLS
/config.cache-env
doc/Doxyfile
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/bin/evas_cserve
src/bin/evas_cserve_tool
*.gcno
*.gcov
src/tests/evas_suite
coverage
/config.guess.cdbs-orig
/config.sub.cdbs-orig
/debian/files
/debian/*.debhelper.log
/debian/*.substvars
/debian/libevas-dbg/
/debian/libevas-dev/
/debian/libevas-doc/
/debian/*.debhelper
/debian/libevas-engines-extras/
/debian/libevas-engines/
/debian/libevas/
/debian/stamp-*
/debian/tmp/
/doc/html/
/doc/latex/
/doc/man/
/*-doc.tar.bz2
/*-doc.tar.bz2.cdbs-config_list
