#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_CONFIGURE_SCRIPT := ./autogen.sh
DEB_MAKE_CLEAN_TARGET := distclean

CFLAGS += -fvisibility=hidden -ffast-math -fPIC
LDFLAGS += -fvisibility=hidden -Wl,--hash-style=both -Wl,--as-needed

DEB_DH_STRIP_ARGS := --dbg-package=libevas-dbg

ifeq (hppa,$(DEB_HOST_ARCH))
	arch_flags += --disable-pthreads
else ifeq (armel,$(DEB_HOST_ARCH))
	arch_flags += --enable-pthreads --enable-cpu-neon
else
	arch_flags += --enable-pthreads
endif

ifeq (amd64,$(DEB_HOST_ARCH))
	arch_flags += --enable-cpu-sse
endif

ifeq (armel,$(DEB_HOST_ARCH))
	arch_flags += --enable-winkcodec=yes
else
	arch_flags += --enable-winkcodec=no
endif

#arch_flags += --enable-word-cache #--enable-metric-cache

DEB_CONFIGURE_EXTRA_FLAGS := --disable-image-loader-svg \
	--enable-simple-x11 \
	--with-x \
	--enable-fb \
	--enable-xrender-x11 \
	--enable-line-dither-mask \
	--disable-image-loader-edb \
	--disable-rpath $(arch_flags) \
	--enable-gl-x11 \
	--enable-gl-flavor-gles \
	--enable-pixman \
	--enable-pixman-image \
	--enable-pixman-image-scale-sample \
	--enable-tile-rotate \
	--enable-gles-variety-sgx

#build/libevas-doc::
#	cd $(DEB_SRCDIR)/doc && make doc

install::
ifeq (i386,$(DEB_HOST_ARCH))
	cp -f $(DEB_SRCDIR)/debian/libevas-engines-extras.install.i386 $(DEB_SRCDIR)/debian/libevas-engines-extras.install
else
	cp -f $(DEB_SRCDIR)/debian/libevas-engines-extras.install.default $(DEB_SRCDIR)/debian/libevas-engines-extras.install
endif

#install/libevas-doc::
#	mkdir -p debian/libevas-doc/usr/share/doc/libevas-doc
#	cp -R $(DEB_SRCDIR)/doc/html debian/libevas-doc/usr/share/doc/libevas-doc/

clean::
	[ ! -f Makefile ] || make distclean
	rm -f evas-*.tar.bz2 evas-*.cdbs-config_list
